<aside class="sidebar">
    <div class="sidebar-logo">
        <h1>Admin Dashboard</h1>
        <% if (auth) { %>
        <p>Hi, <%= auth.email %></p>
        <% } %>
    </div>

    <nav class="sidebar-menu">
        <a href="index.html" class="menu-item"> Dashboard </a>
        <% for (let item of sidebarItems) { %>
        <a
            href="/admin<%= item.path %>"
            class="menu-item <%= item.path === path ? "active" : "" %>"
        >
            <i class="fas <%= item.icon %>"></i>
            <%= item.title %>
        </a>
        <% } %>
        <form method="POST" action="/admin/logout?_method=DELETE" >
            <button type="submit" class="menu-item">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </button>
        </form>
    </nav>

    <div class="user-profile">
        <div class="avatar">JD</div>
        <div class="user-info">
            <p>John Doe</p>
            <small>Administrator</small>
        </div>
    </div>
</aside>
